#benefits {
    padding: 50px 0;
    background: url(../images/fon-sport-tovar-1.jpg) no-repeat center 0 / cover;
    background-attachment: fixed;
    margin: 0 0 80px 0;
    box-shadow: 0 0 20px 5px rgba(0,0,0,0.4);
    .benefits-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        &__item {
            flex: 0 0 256px;
            background: url(../images/bg_benefits.png) no-repeat 0 0;
            width: 256px;
            height: 228px;
            transition: .6s;
            line-height: 1.1;
            margin: 0 5px 20px 5px;
            > span {
                font-size: 72px;
                display: block;
                font-weight: 600;
                padding: 20px;
                color: #fe9e02;
                span {
                    font-size: 32px;
                }
            }
            p {
                font-size: 22px;
                font-weight: bold;
                margin: 0;
                padding: 0 20px 20px;
                color: #fff;
            }
            &:nth-child(2n+2) {
                background-position: right 0;
                span {
                    color: $primary-color;
                }
                p {
                    color: $primary-color;
                }
            }
            &:hover {
                transform: translateY(-15px);
            }
        }
    }
}


@media screen and (max-width: $small-desktop) {
    
}