.map {
    .heading {
        > div {
            display: inline-block;
            background: #e6e6e6;
            padding: 0 45px;
            position: relative;
            z-index: 1;
            font-weight: 300;
            p {
                margin: 0;
                strong {
                    background: $primary-color;
                    display: inline-block;
                    position: relative;
                    padding: 0 3px;
                    margin: 0 5px;
                    font-weight: 500;
                    color: #feb703;
                    &:before, &:after {
                        content: "";
                        width: 0;
                        height: 0;
                        border-style: solid;
                        position: absolute;
                        top: 0;
                    }
                    &:before {
                        border-width: 0 0 44px 10px;
                        border-color: transparent transparent $primary-color transparent;
                        left: -10px;
                    }
                    &:after {
                        border-width: 44px 10px 0 0;
                        border-color: $primary-color transparent transparent transparent;
                        right: -10px;
                    }
                }
            }
        }
    }
}

.brands {
    margin: 0 0 100px 0;

    &__heading {
        text-align: center;
        font-size: 30px;
        color: $primary-color;
        margin: 0 0 30px 0;
    }
    .brands-list {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;

        &__item {
            margin: 0 10px 20px 10px;
        }
    }
}
#map {
    margin-bottom: 60px;
    img {
        max-width: 100%;
    }
}

@media screen and (max-width: $tablet) {
    .map {
        .heading {
            > div {
                padding: 0 25px;
                font-size: 28px;
                p {
                    strong {
                        &:before, &:after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    #map {
        > ymaps {
            height: 300px !important;
        }
    }
    .brands {
        margin: 0 0 30px 0;
    
        &__heading {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: $mobile) {
    
}