.special {
    padding: 75px 0 110px 0;
    background: url(../images/special_bg.jpg) no-repeat center 0 / cover;
    background-attachment: fixed;
    margin: 0 0 80px 0;
    box-shadow: 0 0 20px 5px rgba(0,0,0,0.4);
    position: relative;
    text-align: center;
    .container {
        position: relative;
    }
    .btn {
        background-color: #FE9E02;
        background: linear-gradient(225deg,#FE9E02 0%,#FEB703 100%);
        border: 0px #245580 solid;
        height: 77px;
        width: 353px;
        transition: box-shadow 300ms linear 0ms;
        color: #3c3c3c;
        font-size: 21px;
        display: block;
        padding: 25px 10px 10px;
        font-weight: 600;
        border-radius: 0;
        margin: 0 auto;
        position: relative;
        z-index: 10;
        &:hover {
            box-shadow: 0px 0px 30px #FEB603;
        }
    }
    &__heading {
        font-size: 49px;
        font-weight: 600;
        background: $primary-color;
        color: #fff;
        display: inline-block;
        padding: 5px 10px;
        height: 80px;
        position: relative;
        margin: 0 0 20px 0;
        &:before, &:after {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            position: absolute;
            top: 0;
        }
        &:before {
            border-width: 0 0 80px 10px;
            border-color: transparent transparent $primary-color transparent;
            left: -10px;
        }
        &:after {
            border-width: 80px 10px 0 0;
            border-color: $primary-color transparent transparent transparent;
            right: -10px;
        }
    }
    p {
        font-size: 32px;
        line-height: 1.2;
        font-weight: 600;
        color: #fff;
        margin: 0 0 25px 0;
        position: relative;
        display: inline-block;
        &:before {
            content: "";
            display: block;
            background: url(../images/special_arrow.png) no-repeat 0 0 /cover;
            width: 97px;
            height: 77px;
            position: absolute;
            left: -105px;
            top: 20px;
        }
        strong {
            background: $primary-color;
            color: #feb703;
            text-decoration: underline;
            display: inline-block;
            position: relative;
            padding: 3px 10px;
            height: 45px;
            margin: 0 5px;
            font-weight: 500;
            &:before, &:after {
                content: "";
                width: 0;
                height: 0;
                border-style: solid;
                position: absolute;
                top: 0;
            }
            &:before {
                border-width: 0 0 45px 5px;
                border-color: transparent transparent $primary-color transparent;
                left: -5px;
            }
            &:after {
                border-width: 45px 5px 0 0;
                border-color: $primary-color transparent transparent transparent;
                right: -5px;
            }
        }
    }
    &__image {
        position: absolute;
        bottom: -150px;
        z-index: 5;
        &.img1 {
           left: 0;
        }
        &.img2 {
            right: 0;
        }
    }
}

@media screen and (max-width: $tablet) {
    .special {
        padding-bottom: 200px;
        .btn {
            height: 55px;
            width: 250px;
            font-size: 18px;
            padding: 15px 10px 10px;
        }
        &__heading {
            font-size: 35px;
            height: 70px;
            &:before {
                border-width: 0 0 70px 10px;
            }
            &:after {
                border-width: 70px 10px 0 0;
            }
        }
        p {
            font-size: 26px;
            &:before {
                width: 45px;
                height: 36px;
                left: -50px;
            }
        }
        &__image {
            &.img1 {
                bottom: -220px;
            }
            &.img2 {
                display: none;
            }
        }
    }
}
@media screen and (max-width: $mobile) {
    .special {
        padding-top: 30px;
        padding-bottom: 250px;
        &__heading {
            font-size: 24px;
            line-height: 1.3;
            height: auto;
            &:before, &:after {
                display: none;
            }
        }
        p {
            font-size: 18px;
            &:before {
                display: none;
            }
            strong {
                height: 32px;
                &:before {
                    border-width: 0 0 32px 5px;
                }
                &:after {
                    border-width: 32px 5px 0 0;
                }
            }
        }
        &__image {
            &.img1 {
                bottom: -260px;
                img {
                    max-width: 100%;
                }
            }
        }
    }
}