.icon {
    background: url(../images/sprite.png) no-repeat;
    display: inline-block;
    text-indent: -999em;
    &-catalog {
        background: url(../images/icon-sport-tovar-13.png) no-repeat 0 0;
        width: 22px;
        height: 22px;
    }
    &-account {
        background: url(../images/icon-sport-tovar-9.png) no-repeat 0 0;
        width: 22px;
        height: 22px;
    }
    &-phone {
        background: url(../images/icon-sport-tovar-2.png) no-repeat 0 0;
        width: 36px;
        height: 36px;
    }
    &-phone2 {
        background: url(../images/icon-sport-tovar-11.png) no-repeat 0 0;
        width: 24px;
        height: 24px;
    }
    &-clock {
        background: url(../images/icon-sport-tovar-3.png) no-repeat 0 0;
        width: 24px;
        height: 24px;
    }
    &-map {
        background: url(../images/icon-sport-tovar-6.png) no-repeat 0 0;
        width: 24px;
        height: 24px;
    }
    &-email {
        background: url(../images/icon-sport-tovar-10.png) no-repeat 0 0;
        width: 24px;
        height: 24px;
    }
    &-close {
        background: url(../images/icon_close.png) no-repeat 0 0;
        width: 25px;
        height: 24px;
    }
    &-mail {
        background: url(../images/icon_mail.png) no-repeat 0 0;
        width: 24px;
        height: 24px;
    }
    &-user {
        background: url(../images/icon_user.png) no-repeat 0 0;
        width: 24px;
        height: 24px;
    }
    &-mobile {
        background: url(../images/icon_mobile.png) no-repeat 0 0;
        width: 24px;
        height: 24px;
    }
    &-quote {
        background: url(../images/icon_quote.png) no-repeat 0 0;
        width: 24px;
        height: 24px;
    }
    &-timer {
        background-position: -66px -30px;
        width: 15px;
        height: 17px;
    }
    &-letter {
        background-position: -96px -4px;
        width: 28px;
        height: 20px;
    }
    &-print {
        background-position: -133px -3px;
        width: 26px;
        height: 24px;
    }
    &-cart {
        background-position: -71px -57px;
        width: 22px;
        height: 22px;
    }
    &-cart2 {
        background-position: -99px -58px;
        width: 20px;
        height: 20px;
    }
    &-profile {
        background-position: -148px -58px;
        width: 20px;
        height: 19px;
    }
    &-exit {
        background-position: -125px -59px;
        width: 18px;
        height: 18px;
    }
    &-sale {
        background-position: -197px -99px;
        width: 25px;
        height: 25px;
    }
    &-calendar {
        width: 24px;
        height: 23px;
        background-position: -97px -86px;
    }
}