// Fonts:
$font: 'Open Sans', sans-serif;

//	Colors:
$primary-color: #032c7c;
$second-color:  #feb703;
$text-color:    #131313;
$border-color:  #d9d9d9;

$container-width: 1100px;
$header-height: 89px;
//	Media Queries:
$big-desktop: 1400px;
$small-desktop: 1200px;
$tablet: 		992px;
$mobile: 		767px;
$small-mobile: 	480px;