.page-cart {
    .heading {
        font-size: 28px;
        margin: 10px 0 0;
    }
    &__panel {
        margin: 0 0 15px 0;
        background: #fff;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
        padding: 15px 20px;
    }
    .cart-list {
        &.products {
            background: #fff;
            padding: 0;
            box-shadow: none;
            margin: 0 0 20px 0;
        }
        .cart-table {
            width: 100%;
            td {
                border: 1px solid #000;
                padding: 10px;
                text-align: center;
            }
            &__title {
                td {
                    color: $second-color;
                    font-weight: bold;
                    margin: 0 0 15px 0;
                    padding: 25px 0 15px 0;
                    text-align: left;
                    border: none;
                }
            }
            &__head {
                td {
                    text-align: center;
                    font-weight: bold;
                    color: $primary-color;
                    padding: 10px;
                    border: 1px solid #000;
                    background: #f7f7f7;
                }
            }
            &__bottom {
                td {
                    &.td-empty {
                        border: none;
                    }
                    &:not(.td-empty) {
                        text-align: center;
                        font-weight: bold;
                        color: $primary-color;
                        padding: 10px;
                        border: 1px solid #000;
                        background: #f7f7f7;
                    }
                    &.cart-sum {
                        text-align: left;
                        padding-left: 25px;
                    }
                }
            }
            .item-info {
                text-align: left;
                padding: 10px;
                height: auto;
                &__inner {
                    display: flex;
                    align-items: center;
                    max-width: 320px;
                }
                &__image {
                    flex: 1 1 75px;
                    margin: 0 20px 0 0;
                    img {
                        max-height: 75px;
                        width: auto;
                    }
                    .item-gallery {
                        width: 75px;
                        padding-bottom: 20px;
                        .slick-dots {
                            bottom: 0;
                            opacity: 1;
                            visibility: visible;
                            transform: translateY(0);
                        }
                    }
                }
                &__main {
                    flex: 1 1 220px;
                    .item-status {
                        margin-bottom: 5px;
                        span {
                            display: inline-block;
                            height: 22px;
                            min-width: 100px;
                            background: url(../images/bg_info_blue.png) no-repeat right 0;
                            font-size: 13px;
                            font-weight: bold;
                            color: #fff;
                            padding: 1px 5px;
                            &.item-status__sale {
                                background: url(../images/bg_info.png) no-repeat right 0;
                            }
                        }
                    }
                    .item-name {
                        line-height: 1.2;
                        margin-bottom: 5px;
                        display: block;
                        color: $text-color;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                            color: $second-color;
                        }
                    }
                    .item-measure {
                        font-size: 12px;
                        color: #5a5a5a;
                    }
                }
            }
            .item-counter {
                &__inner {
                    margin: 0 auto;
                    position: relative;
                    white-space: nowrap;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .btn {
                        vertical-align: top;
                        padding: 0;
                        font-size: 14px;
                        font-weight: bold;
                        line-height: 19px;
                        border-radius: 0;
                        flex: 0 0 19px;
                        width: 19px;
                        height: 19px;
                        text-align: center;
                        border: none;
                        color: #fff;
                        background: $primary-color;
                        transition: .3s;
                        &:hover {
                            background: $second-color;
                        }
                    }
                    .input-group-text {
                        .form-control {
                            background: #f7f7f7;
                            font-size: 12px;
                            font-weight: bold;
                            color: $primary-color;
                            padding: 0;
                            display: inline-block;
                            width: 40px;
                            height: 19px;
                            line-height: 19px;
                            border-radius: 0;
                            border: none;
                            text-align: center;
                            box-shadow: none;
                            margin: 3px 0 0;
                            vertical-align: top;
                            &:disabled {
                                cursor: default;
                            }
                        }
                    }
                }
            }
            .item-price {
                .price {
                    .old {
                        font-size: 14px;
                        color: $primary-color;
                        text-decoration: line-through;
                    }
                }
            }
            .item-prop {
                text-align: left;
                padding-left: 25px;
                max-width: 260px;
                .prop {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                img {
                    border: 1px solid #111111;
                    border-radius: 4px;
                    margin: 0 10px 0 0;
                    height: 18px;
                }
            }
            .item-remove {
                max-width: 24px;
                padding: 10px 3px;
                a {
                    display: inline-block;
                    .icon {
                        height: 19px;
                    }
                }
            }
        }
        .price-help {
            color: #aeaeae;
            position: relative;
            cursor: pointer;
            + .popover {
                .popover-content {
                    padding: 4px 5px;
                }
            }
        }
    }
    .cart-result {
        font-weight: bold;
        margin: 0 0 20px 0;
        p {
            margin: 0 0 5px 0;
        }
        span {
            display: inline-block;
            width: 280px;
        }
        &__econom {
            color: $second-color;
        }
    }
    .cart-bot {
        &__top {
            display: flex;
            justify-content: flex-end;
            margin: 0 0 20px 0;
            .btn-clear-cart {
                border: none;
                background: none;
                padding: 0;
                margin: 0 5px 0 0;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        &__body {
            .heading {
                color: $text-color;
                font-size: 17px;
                margin: 0 0 10px 0;
            }
            .form-control {
                border-radius: 0;
            }
            .cart-baton {
                text-align: right;
                .btn {
                    margin: 45px 0 0 0;
                }
            }
            .txt-help {
                padding: 7px;
                display: inline-block;
                font-weight: 600;
            }
            .btn {
                width: 220px;
            }
            .delivary-list {}
        }
    }
}

.popup-checkout-sum {
    position: fixed;
    top: auto;
    bottom: 20px;
    right: 20px;
    left: auto;
    opacity: 1;
    visibility: visible;
    transform: scale(1) !important;
    .quick-buy__title {
        margin-top: 5px;
    }
}

.panel-accordion {
    padding: 20px 0;
    .panel-body {
        padding-right: 0;
    }
    .panel-accordion {
        padding: 0;
    }
    .panel {
        border: none;
        padding: none;
        background: none;
        box-shadow: none;
        .panel-heading {
            background: none;
            padding: 5px 0 7px 0;
            a {
                display: block;
                text-decoration: none;
                font-weight: bold;
                color: $second-color;
                i {
                    transition: .3s;
                }
                &:hover {
                    color: $second-color !important;
                }
                &.collapsed {
                    color: $text-color;
                    i {
                        transform: rotate(180deg);
                    }
                }
            }
            span {
                float: right;
            }
            +.panel-collapse>.panel-body {
                border-top-color: #f7f7f7;
            }
        }
        &.level-1 {
            >.panel-heading {
                a {
                    text-transform: uppercase;
                }
            }
        }
        &.level-2 {
            .panel-heading {
                a {
                    padding-left: 20px;
                }
            }
        }
        &.level-3 {
            .panel-heading {
                a {
                    padding-left: 40px;
                }
            }
        }
    }
}

@media screen and (max-width: $tablet) {
    .page-cart {
        overflow: auto;
        .cart-list {
            .cart-table {
                td {
                    &.item-price {
                        .price {
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }
    .panel-accordion {
        .panel {
            .panel-heading {
                .panel-title {
                    font-size: 14px;
                    a {
                        position: relative;
                        padding-left: 15px;
                        i {
                            position: absolute;
                            left: 0;
                            top: 2px;
                        }
                    }
                    span {
                        float: none;
                        color: #878787;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $mobile) {
    .page-cart {
        .cart-result {
            span {
                width: 100%;
            }
        }
    }
}