.page-heading {
    background: #fff;
    font-size: 37px;
    color: $primary-color;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    margin: 0 0 8px 0;
    padding: 15px 20px;
    span {
        color: #e6e6e6;
    }
}

.heading {
    font-size: 21px;
    line-height: 1.2;
    font-weight: 600;
    color: $primary-color;
    position: relative;
    margin: 0 0 30px 0;
}

@media screen and (max-width: 1200px) {
    .page-heading {
        font-size: 27px;
    }
}

@media screen and (max-width: 768px) {
    .page-heading {
        font-size: 22px;
    }
}