.post {
    background: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 0 0 25px 0;
    h1,
    h2,
    h3 {
        color: $primary-color;
    }
    a {
        color: $primary-color;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}