.products {
    background: #fff;
    padding: 10px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    margin: 0 0 50px 0;
    &__more {
        text-align: center;
        margin: 0 0 25px 0;
        .load-more {
            color: $second-color;
            text-align: center;
            font-weight: bold;
            background: url(../images/catalog_title.png) no-repeat 0 0 / cover;
            width: 220px;
            height: 40px;
            display: inline-block;
            padding: 8px 10px;
        }
    }
}

.product__item {
    .item__wrap {
        background: #fff;
        position: relative;
        overflow: hidden;
        @include transition(all 0.3s ease 0s);
        z-index: 50;
    }
    .item-top {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 100;
        &__inner {
            background: url(../images/bg_info.png) no-repeat right 0 /cover;
            height: 33px;
            display: flex;
            max-width: 240px;
            font-weight: bold;
            color: $primary-color;
            justify-content: center;
            align-items: center;
            &.item-top-novelty {
                background: url(../images/bg_info_blue.png) no-repeat right 0 /cover;
                max-width: 164px;
                color: #fff;
            }
        }
    }
    .item__timer {
        width: 125px;
        padding: 5px 0 0 0;
        text-align: center;
        >i {
            display: inline-block;
            margin-right: 10px;
            vertical-align: top;
            position: relative;
            top: 3px;
        }
        >.soon {
            display: inline-block;
            padding: 0;
            font-weight: bold;
            font-size: 13px;
            color: $primary-color;
            margin: 0;
            text-align: right;
            .soon-group-inner {
                margin: 0px;
                .soon-group {
                    &:first-of-type {
                        margin-right: 0px;
                    }
                    &:first-of-type[data-value="0"] {
                        display: none;
                        ~.soon-group {
                            color: #b0140c;
                        }
                    }
                    .soon-value {
                        font-size: 16px;
                        margin: 0;
                        .soon-text {
                            margin-top: -9px;
                            width: 0.5em;
                            min-width: 0.4em;
                        }
                    }
                    .soon-label {
                        margin: -9px 1px 0 1px;
                        min-width: 2px;
                        text-align: center;
                    }
                    .soon-separator {
                        margin: 5px 0 0 0px;
                        min-width: 0.2em;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .item__stick {
        display: block;
        flex: 1 1 114px;
        height: 33px;
        text-align: center;
        padding: 7px 10px 5px 45px;
        font-size: 15px;
        color: $second-color;
        line-height: 1.1;
        background: url(../images/bg_info_blue.png) no-repeat right 0;
        .num {
            display: block;
            background: url(../images/sprite.png) no-repeat -61px -1px;
            width: 25px;
            height: 25px;
            border-radius: 0 12px 12px 0;
            height: 25px;
            width: 35px;
            padding: 5px;
            position: absolute;
            left: 10px;
            top: 3px;
        }
    }
    .item__price {
        padding-left: 0;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 15px;
        color: $primary-color;
        height: 75px;
        >span {
            display: inline-block;
            &.new {
                font-size: 50px;
                line-height: 1;
                margin: 0 5px 0 5px;
                position: relative;
                bottom: -3px;
            }
            &.old {
                text-decoration: line-through;
                +.new {
                    color: $second-color;
                }
            }
        }
    }
    .item__rate {
        margin: 0 0 20px 0;
        @extend %rates;
    }
    .item__buttons {
        margin-bottom: 17px;
        .btn {
            width: 100%;
            max-width: 220px;
            height: 42px;
            font-size: 14px;
        }
    }
    .item__input-counter {
        color: $primary-color;
        font-size: 18px;
        margin: 10px 0 5px 0;
        text-align: center;
        vertical-align: top;
        .btn {
            vertical-align: top;
            padding: 0;
            font-size: 18px;
            font-weight: bold;
            line-height: 37px;
            border-radius: 0;
            width: 37px;
            height: 37px;
            text-align: center;
            border: none;
            color: #fff;
            background: $primary-color;
            &:hover {
                background: darken($primary-color, 5%);
            }
        }
        .input-group-text {
            display: inline-block;
            .form-control {
                background: #f7f7f7;
                font-size: 18px;
                font-weight: bold;
                color: $primary-color;
                padding: 0;
                display: inline-block;
                width: 83px;
                height: 37px;
                margin: 0 -4px;
                border-radius: 0;
                border: none;
                text-align: center;
                box-shadow: none;
                &:disabled {
                    cursor: default;
                }
            }
        }
        .counter-help {
            color: #5a5a5a;
            font-size: 12px;
            text-align: center;
            padding: 10px 0 0;
        }
        .counter-name {
            font-size: 14px;
            font-weight: bold;
            color: $primary-color;
            margin: 0 0 10px 0;
            white-space: nowrap;
        }
    }
    .item__product-options {
        overflow: hidden;
        .prop {
            font-weight: bold;
            margin: 0 0 5px 0;
            .name {
                display: block;
                margin: 0 0 10px 0;
                color: $primary-color;
                font-size: 14px;
            }
            .values {
                .value {
                    float: left;
                    margin: 0 5px 5px 0;
                    @include transition(all 0.3s ease 0s);
                    font-size: 16px;
                    font-weight: bold;
                    cursor: pointer;
                    color: $primary-color;
                    >span {
                        display: block;
                        padding: 3px 5px;
                        border-radius: 2px;
                        border: 1px solid $border-color;
                    }
                    >img {
                        border-radius: 2px;
                        border: 1px solid $border-color;
                    }
                    &.active {
                        cursor: default;
                        >span,
                        >img {
                            border: 1px solid $primary-color;
                            background: $second-color;
                        }
                    }
                    &:hover {
                        >span,
                        >img {
                            border-color: $primary-color;
                        }
                    }
                }
            }
        }
    }
    .item_lockout {
        position: relative;
        overflow: hidden;
        height: 75px;
        margin-bottom: 5px;
        >div {
            line-height: 1.1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            padding: 10px 25px;
            transition: .3s;
            &.message-visible {
                background: url(../images/bg_visible.png) no-repeat 0 0 / cover;
                color: $primary-color;
            }
            &.message-hidden {
                background: url(../images/bg_hidden.png) no-repeat 0 0 / cover;
                color: $second-color;
                opacity: 0;
                visibility: hidden;
                a {
                    color: $second-color;
                    display: block;
                }
            }
        }
        &:hover {
            >div {
                &.message-visible {
                    opacity: 0;
                    visibility: hidden;
                }
                &.message-hidden {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -3px 20px -3px;
    &__item {
        margin: 0 3px 6px 3px;
        flex: 0 0 calc(33.333% - 6px);
        height: 440px;
        &:hover {
            border-color: $second-color;
        }
        .item__wrap {
            min-height: 430px;
            padding: 10px 10px 10px;
            text-align: center;
            border: 1px solid $border-color;
        }
        a {
            &:hover {
                text-decoration: none;
                .item__name {
                    text-decoration: underline;
                }
            }
        }
        .item__image {
            height: 260px;
            @include flexbox();
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            position: relative;
            img {
                max-width: 100%;
                max-height: 100%;
            }
            .item-gallery {
                max-width: 240px;
                .gallery-item {
                    a {
                        display: block;
                        text-align: center;
                        &:focus {
                            outline: none;
                        }
                        img {
                            margin: 0 auto;
                        }
                    }
                }
                .slick-dots {
                    position: absolute;
                    bottom: -20px;
                    left: 0;
                    right: 0;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    text-align: center;
                    z-index: 101;
                    opacity: 0;
                    visibility: hidden;
                    transition: .3s;
                    transform: translateY(-5px);
                    li {
                        display: inline-block;
                        color: #5a5a5a;
                        font-size: 12px;
                        line-height: 1;
                        button {
                            background: #fff;
                            border: 2px solid $border-color;
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            text-indent: -999em;
                            padding: 0;
                            margin: 0 2px;
                            &:focus {
                                outline: none;
                            }
                        }
                        &.slick-active {
                            button {
                                background: $second-color;
                            }
                        }
                        span {
                            display: inline-block;
                            margin: 0 2px;
                            position: relative;
                            top: -2px;
                        }
                    }
                }
            }
        }
        .item__name {
            height: 48px;
            overflow: hidden;
            font-size: 16px;
            font-weight: bold;
            line-height: 1.2;
            margin-bottom: 5px;
            color: $primary-color;
        }
        .item__product-options {
            display: none;
            animation: anim .2s ease-in-out;
            opacity: 0;
            border-top: 1px solid $second-color;
            padding: 30px 15px 10px 15px;
            margin: 25px 10px 0 10px;
            .prop {
                .name {
                    text-align: center;
                }
            }
        }
        &:hover {
            .item__wrap {
                z-index: 100;
                border-color: $second-color;
            }
            .item__product-options {
                display: block;
                opacity: 1;
            }
            .item-gallery {
                .slick-dots {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
            }
            .item__preview {
                opacity: 1;
                visibility: visible;
                bottom: 40%;
            }
        }
    }
    .item__preview {
        background: rgba(255, 255, 255, 0.5);
        border: 1px solid $primary-color;
        display: block;
        color: $primary-color;
        position: absolute;
        top: auto;
        bottom: 35%;
        right: auto;
        left: auto;
        width: 200px;
        height: 36px;
        transition: .3s;
        padding: 5px 10px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 4px;
        opacity: 0;
        visibility: hidden;
        &:hover {
            color: $text-color;
            border-color: $text-color;
        }
    }
    .item__buttons {
        margin: 0 -20px;
    }
}

.product-list {
    &__item {
        margin-bottom: 10px;
        .item__wrap {
            overflow: inherit !important;
            @include flexbox();
            align-items: stretch;
            justify-content: space-between;
            border: 1px solid $border-color;
        }
        .item__image {
            position: relative;
            width: 255px;
            padding-top: 40px;
            padding-bottom: 5px;
            @include flex(0 0 255px);
            &--nopadding {
                padding: 10px 0;
            }
            .image__preview {
                float: left;
                margin-right: 5px;
                width: 180px;
                height: 210px;
                min-height: 210px;
                text-align: center;
                position: relative;
                background: center center no-repeat;
                >a {
                    position: absolute;
                    transform: translateY(-50%);
                    top: 50%;
                    left: 0;
                    right: 0;
                }
                >iframe {
                    width: 100%;
                    height: 140px;
                }
                img {
                    height: auto;
                    width: auto;
                    display: inline-block;
                    margin: 0 auto;
                    max-height: 140px;
                }
                &.image__preview--loading {
                    background: url(../images/ajax-loader.gif) no-repeat center center;
                }
                &.image__preview--init {
                    img {
                        display: inline-block;
                    }
                }
                .MagicZoomPlusHint {
                    display: block !important;
                }
            }
            .imgs-list {
                width: 70px;
                overflow: hidden;
                float: right;
                .item {
                    margin-bottom: 1px;
                    border-radius: 1px;
                    border: 1px solid transparent;
                    a {
                        display: block;
                        height: 65px;
                        @include flexbox();
                        align-items: center;
                        justify-content: center;
                    }
                    &.current,
                    &:hover {
                        border-color: #dedcdc;
                    }
                }
                &.slick-slider {
                    padding: 20px 0;
                    .item {
                        margin-bottom: 0px;
                        text-align: center;
                        overflow: hidden;
                        img {
                            display: inline-block;
                            max-width: 100%;
                            max-height: 100%;
                            width: auto;
                            height: auto;
                        }
                    }
                    .slick-arrow {
                        position: absolute;
                        cursor: pointer;
                        top: auto;
                        left: 50%;
                        right: auto;
                        width: 18px;
                        height: 18px;
                        margin: 0 0 0 -8px;
                        font-size: 28px;
                        line-height: 1;
                        color: $primary-color;
                        text-align: center;
                        &.slick-prev {
                            top: -10px;
                        }
                        &.slick-next {
                            bottom: 5px;
                        }
                        &:hover {
                            color: $second-color;
                        }
                    }
                }
            }
        }
        .item__info {
            margin: 0 25px;
            @include flex(1 0 290px);
            .item__name {
                margin: 5px 0 15px 0;
                font-size: 21px;
                line-height: 1.2;
                font-weight: bold;
                color: $primary-color;
                >a {
                    color: $primary-color;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .item__rate {
                margin-bottom: 10px;
            }
            .item__product-options {
                .name {
                    font-size: 16px;
                    color: $second-color;
                    font-weight: bold;
                }
            }
        }
        .item__counter {
            margin: 0 0 10px 0;
            b {
                display: inline-block;
                margin: 0 10px 0 0;
            }
        }
        .item__panel {
            width: 230px;
            min-width: 150px;
            background: #f8f7f7;
            border-left: 1px solid #e5e5e5;
            text-align: center;
            padding-top: 25px;
            position: relative;
            .item__price {
                margin-bottom: 15px;
            }
            .item__input-counter {
                margin-bottom: 10px;
            }
            .item__buttons {
                margin-bottom: 10px;
            }
            .item__delivary {
                padding: 10px 0;
                border-top: 1px solid #e5e5e5;
                p {
                    margin: 0 0 5px 0;
                }
            }
        }
        &:hover {
            .item__wrap {
                border-color: #6a6a6a;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .product__item {
        .item-top {
            font-size: 14px;
        }
    }
    .product-grid {
        &__item {
            .item__image {
                .item-gallery {
                    max-width: 160px;
                }
            }
            .item__name {
                height: 58px;
            }
            .item__product-options {
                padding: 30px 0 10px 0;
            }
            .item__price {
                height: 45px;
                >span {
                    &.new {
                        font-size: 32px;
                    }
                }
            }
            .item_lockout {
                font-size: 14px;
                height: 55px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .product-grid {
        justify-content: center;
        &__item {
            flex: 0 0 47%;
            .item__image {
                .item-gallery {
                    max-width: 200px;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .product-grid {
        display: flex;
        flex-wrap: wrap;
        &__item {
            vertical-align: top;
            height: auto;
            flex: 1 1 260px;
            .item {
                &__wrap {
                    height: auto;
                    min-height: 100%;
                }
                &__product-options {
                    display: block;
                    opacity: 1
                }
            }
        }
        .item__preview {
            display: none;
        }
    }
    .product-list {
        .item__wrap {
            flex-wrap: wrap;
        }
        &__item {
            .item__panel {
                width: 100%;
                min-width: 100%;
                border-top: 1px solid #e5e5e5;
                border-left: none;
            }
        }
    }
}

@media screen and (max-width: 480px) {}