body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
  padding-right: 17px;
}
.modal-scrollable {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.modal {
  &-dialog {
    width: 100%;
    max-width: 480px;
    margin: 10% auto;
  }
  &-content {
    border-radius: 0;
    padding: 30px;
    .btn-close {
      position: absolute;
      right: 5px;
      top: 5px;
      cursor: pointer;
    }
    .form-top {
      color: $primary;
      font-size: 29px;
      letter-spacing: 0.07px;
      line-height: 39px;
      text-align: center;
    }
    .form-name {
      color: #3c3c3c;
      font-size: 20px;
      letter-spacing: 0.07px;
      line-height: 27px;
      text-align: center;
      margin: 0 0 20px 0;
    }
    .form-horizontal {
      max-width: 350px;
      margin: 0 auto;
      .form-group {
        padding: 0 15px;
        .form-control {
          border-radius: 0;
          border: 1px solid #696969;
          font-size: 17px;
          padding: 15px 10px 15px 50px;
          height: auto;
        }
        .input-icon {
          position: relative;
          .icon {
            position: absolute;
            top: 14px;
            left: 10px;
          }
        }
      }
      .btn {
        width: 100%;
        background: #feb703;
        padding: 15px;
        font-size: 19px;
        transition: .3s;
        margin-top: 10px;
        &:hover {
          background: darken(#feb703, 5%);
        }
      }
    }
  }
  &#form_price {
    .modal-dialog {
      width: 100%;
      max-width: 920px;
      margin: 10% auto;
    }
    .form-type {
      display: flex;
      justify-content: space-between;
      padding: 0 40px;
      a.type-item {
        cursor: pointer;
        flex: 1 1 240px;
        height: 185px;  
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        color: #3c3c3c;
        text-align: center;
        padding: 30px 10px;
        text-decoration: none;
        box-shadow: 0px 0px 5px #808080;
        border: 2px solid #fe8208;
        transition: .3s;
        margin: 15px 10px 50px 10px;
        &:hover {
          text-shadow: 1px 0 0 #3c3c3c;
          background: url(../images/bg_type.jpg) no-repeat 0 0 / cover;    
          transform: translateY(-10px);
        }
        &.active {
          background: url(../images/bg_type.jpg) no-repeat 0 0 / cover;    
        }
      }
    }
    .form-horizontal {
      width: 100%;
      max-width: 100%;
      padding: 0 50px;
      display: none;
      &.active {
        display: block;
      }
      .help {
        margin: 0 0 20px 0;
      }
      .form-group {
        padding: 0 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .input-icon {
          flex: 1 1 45%;
          margin: 0 15px 10px 15px;
        }
      }
      .btn {
        max-width: 300px;
        margin: 0 auto;
        display: block;
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  body.modal-open,
  .modal-open .navbar-fixed-top,
  .modal-open .navbar-fixed-bottom {
    padding-right: 0;
  }

  
  .modal {
    &-dialog {
      max-width: 90% !important;
    }
    &-content {
      padding: 20px;
      .form-top {
        font-size: 22px;
        line-height: 29px;
      }
      .form-name {
        font-size: 18px;
        line-height: 24px;
      }
    }
    &#form_price {
      .form-type {
        padding: 0;
        margin: 0 0 40px 0;
        display: block;
        a.type-item {
          height: auto;
          margin: 0 10px 15px 10px;
          padding: 10px;
          &:hover {
            transform: translateY(-3px);
          }
        }
      }
      .form-horizontal {
        padding: 0 10px;
      }
    }
  }

}

