html,
body {
    margin: 0;
    padding: 0;
    background: #e6e6e6;
}

body {
    font-family: $font;
    font-size: 17px;
    padding-top: $header-height;
    &.fancybox-active {
        #header {
            padding-right: 17px;
        }
    }
    >.container {
        min-height: 1400px;
    }
}

.container {
    width: 100%;
    max-width: $container-width + 30px;
}

.slick-slide {
    &:focus {
        outline: none;
    }
}

a {
    cursor: pointer;
}

.btn {
    &:focus {
        outline: none;
    }
    &-blue {
        background: url(../images/catalog_title.png) no-repeat 0 0;
        color: #fff;
        text-align: center;
        border-radius: 0;
        font-size: 17px;
        font-weight: bold;
        padding: 7px 15px;
        transition: .3s;
        &:hover {
            color: $second-color;
        }
    }
    &-yellow {
        background: $second-color;
        color: $text-color;
        text-align: center;
        border-radius: 0;
        font-size: 17px;
        font-weight: bold;
        padding: 7px 15px;
        transition: .3s;
        &:hover {
            background: darken($second-color, 5%);
        }
    }
}

#wrapper {
    background: #e6e6e6 url(../images/bg_sport.jpg) no-repeat center top;
}

.load-more {
    color: $second-color;
    text-align: center;
    font-weight: bold;
    background: url(../images/catalog_title.png) no-repeat 0 0 / cover;
    width: 220px;
    height: 40px;
    display: inline-block;
    padding: 8px 10px;
    &:hover {
        text-decoration: none;
        color: #fff;
    }
}

@media screen and (max-width: $mobile) {
    body {
        padding-top: 0;
    }
    .heading {
        font-size: 24px;
        margin: 0 0 30px 0;
        &:after {
            top: 20px;
        }
    }
}