#header {
    background: url(../images/bg_header.jpg) no-repeat center top / cover;
    box-shadow: 0px 0px 5px #696969;
    height: $header-height;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    a {
        &:visited {
            color: #800080;
        }
    }
    .header {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        .logo {
            flex: 0 0 256px;
            margin: 15px 0;
            display: block;
            img {
                width: 100%;
                max-width: 256px;
            }
        }
        &__main {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: space-between;
            nav {
                display: flex;
                align-items: center;
                flex: 1 1 auto;
                a {
                    color: $primary-color;
                    text-decoration: none;
                    font-size: 17px;
                    line-height: 23px;
                    display: flex;
                    align-items: center;
                    margin: 0 0 0 80px;
                    strong {
                        text-decoration: underline;
                        font-weight: 600;
                    }
                    i {
                        margin: 0 7px 0 0;
                    }
                    &:hover {
                        color: #032CC9;
                    }
                }
            }
            .phone {
                flex: 0 0 245px;
                display: flex;
                align-items: center;
                &__main {
                    text-align: right;
                    display: inline-block;
                    line-height: 1.1;
                    position: relative;
                    padding-right: 20px;
                    &:after {
                        content: "";
                        height: 38px;
                        width: 1px;
                        background: $primary-color;
                        display: block;
                        position: absolute;
                        right: 11px;
                        top: 2px;
                    }
                    a {
                        color: $primary-color;
                        &:hover {
                            color: #032CC9;
                        }
                        &.link-digit {
                            font-size: 24px;
                            &:hover {
                                text-decoration: none;
                            }
                        }
                        &.link-text {
                            font-size: 13px;
                            font-weight: 600;
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }
                &__link {
                    height: 36px;
                    width: 36px;
                    cursor: pointer;
                }
            }
        }
    }
    &.is-auth {
        .header {
            &__main {
                flex: 1 1 auto;
                .mobile-label {
                    display: none;
                    font-size: 9px;
                    text-transform: uppercase;
                }
                nav {
                    justify-content: flex-start;
                    a {
                        flex: 0 0 45%;
                        margin: 0 0 0 35px;
                        white-space: nowrap;
                    }
                }
                .short-cart {
                    flex: 0 0 180px;
                    position: relative;
                    padding: 0 0 0 20px;
                    margin: 0 0 0 30px;
                    &:before {
                        content: "";
                        display: block;
                        height: 43px;
                        width: 1px;
                        background: $primary-color;
                        position: absolute;
                        left: 0;
                        top: -10px;
                    }
                    a {
                        display: flex;
                        align-items: center;
                        color: $primary-color;
                        text-decoration: none;
                        >strong {
                            margin: 0 0 0 15px;
                            text-decoration: underline;
                        }
                        &:hover {
                            >strong {
                                text-decoration: none;
                            }
                        }
                    }
                }
                .account-link {
                    flex: 0 0 150px;
                    border: 1px solid $primary-color;
                    border-radius: 3px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 5px;
                    margin: 0 0 0 30px;
                    a {
                        display: flex;
                        align-items: center;
                        color: $primary-color;
                        >span:not(.mobile-label) {
                            display: inline-block;
                            width: 80px;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            margin: 0 0 0 5px;
                        }
                    }
                }
            }
        }
    }
}

.modal-open {
    #header {
        padding-right: 17px;
    }
}

@media screen and (max-width: $small-desktop) {
    #header {
        .header {
            &__main {
                nav {
                    justify-content: center;
                    a {
                        margin: 0 15px;
                    }
                }
            }
        }
        &.is-auth {
            .header {
                &__main {
                    nav {
                        justify-content: flex-end;
                        a {
                            flex: 0 0 auto;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $tablet) {
    #header {
        .header {
            &__main {
                nav {
                    justify-content: flex-end;
                    a {
                        margin: 0 25px;
                        strong {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $mobile) {
    #header {
        position: relative;
        height: auto;
        &.is-auth {
            .header {
                &__main {
                    padding: 20px 0;
                    align-items: center;
                    .mobile-label {
                        display: block !important;
                    }
                    nav {
                        display: inline-block;
                        margin: 0;
                        padding: 0;
                        a {
                            margin: 0 0;
                            width: 45px;
                            display: inline-block;
                            i {
                                margin: 0;
                                position: relative;
                                bottom: -3px;
                            }
                            &:last-child {
                                display: inline-block;
                            }
                            &:hover {
                                text-decoration: underline;
                                color: $primary-color;
                            }
                        }
                    }
                    .short-cart {
                        display: inline-block;
                        margin: 0;
                        padding: 0;
                        &:before {
                            display: none;
                        }
                        a {
                            margin: 0 0;
                            width: 45px;
                            display: inline-block;
                            i {
                                height: 22px;
                            }
                            >strong {
                                display: none;
                            }
                            &:hover {
                                text-decoration: underline;
                                color: $primary-color;
                            }
                        }
                    }
                    .account-link {
                        display: inline-block;
                        border: none;
                        padding: 0;
                        margin: 0;
                        a {
                            display: inline-block;
                            margin: 0 0;
                            width: 45px;
                            text-align: center;
                            i {
                                height: 21px;
                            }
                            >span:not(.mobile-label) {
                                display: none;
                            }
                            &:hover {
                                text-decoration: underline;
                                color: $primary-color;
                            }
                        }
                    }
                }
            }
        }
        .header {
            text-align: center;
            display: block;
            .logo {
                margin: 5px 0;
            }
            &__main {
                text-align: center;
                display: block;
                nav {
                    margin: 20px 0;
                    justify-content: center;
                    padding: 0 0 0 10px;
                    a {
                        margin: 0 15px;
                    }
                }
                .phone {
                    margin: 10px 0;
                    text-align: center;
                    display: block;
                    &__main {
                        padding: 0;
                        &:after {
                            display: none;
                        }
                        .link-digit {
                            font-weight: bold;
                        }
                        .link-text {
                            display: none;
                        }
                    }
                    &__link {
                        display: none;
                    }
                }
            }
        }
    }
}