body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
    padding-right: 17px;
}

.modal-scrollable {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.modal {
    &-dialog {
        width: 100%;
        max-width: 480px;
        margin: 10% auto;
    }
    &-content {
        border-radius: 0;
        padding: 30px;
        .btn-close {
            position: absolute;
            right: 5px;
            top: 5px;
            cursor: pointer;
        }
        .form-top {
            color: $primary-color;
            font-size: 29px;
            letter-spacing: 0.07px;
            line-height: 39px;
            text-align: center;
        }
        .form-name {
            color: #3c3c3c;
            font-size: 20px;
            letter-spacing: 0.07px;
            line-height: 27px;
            text-align: center;
            margin: 0 0 20px 0;
        }
        .form-horizontal {
            max-width: 350px;
            margin: 0 auto;
            .form-group {
                padding: 0 15px;
                .form-control {
                    border-radius: 0;
                    border: 1px solid #696969;
                    font-size: 17px;
                    padding: 15px 10px 15px 50px;
                    height: auto;
                }
                .input-icon {
                    position: relative;
                    .icon {
                        position: absolute;
                        top: 14px;
                        left: 10px;
                    }
                }
            }
            .btn {
                width: 100%;
                background: #feb703;
                padding: 15px;
                font-size: 19px;
                transition: .3s;
                margin-top: 10px;
                &:hover {
                    background: darken(#feb703, 5%);
                }
            }
        }
    }
    &#form_price {
        .modal-dialog {
            width: 100%;
            max-width: 920px;
            margin: 10% auto;
        }
        .form-type {
            display: flex;
            justify-content: space-between;
            padding: 0 40px;
            a.type-item {
                cursor: pointer;
                flex: 1 1 240px;
                height: 185px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 15px;
                color: #3c3c3c;
                text-align: center;
                padding: 30px 10px;
                text-decoration: none;
                box-shadow: 0px 0px 5px #808080;
                border: 2px solid #fe8208;
                transition: .3s;
                margin: 15px 10px 50px 10px;
                &:hover {
                    text-shadow: 1px 0 0 #3c3c3c;
                    background: url(../images/bg_type.jpg) no-repeat 0 0 / cover;
                    transform: translateY(-10px);
                }
                &.active {
                    background: url(../images/bg_type.jpg) no-repeat 0 0 / cover;
                }
            }
        }
        .form-horizontal {
            width: 100%;
            max-width: 100%;
            padding: 0 50px;
            display: none;
            &.active {
                display: block;
            }
            .help {
                margin: 0 0 20px 0;
            }
            .form-group {
                padding: 0 5px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .input-icon {
                    flex: 1 1 45%;
                    margin: 0 15px 10px 15px;
                }
            }
            .btn {
                max-width: 300px;
                margin: 0 auto;
                display: block;
            }
        }
    }
    &.product-preview {
        .modal-dialog {
            max-width: 850px;
        }
        .modal-content {
            padding: 30px 0 0;
        }
        .panel-sport {
            position: relative;
        }
        .modal-close {
            position: absolute;
            top: -30px;
            right: 0;
            background: url(../images/bg_close.png) no-repeat 0 0;
            width: 109px;
            height: 32px;
            color: #fff;
            text-align: center;
            border: none;
            margin: 0;
            padding: 5px;
            font-size: 16px;
            &:hover {
                color: $second-color;
            }
            &:focus {
                outline: none;
            }
        }
        .preview-arrows {
            button {
                background: none;
                border: none;
                padding: 0;
                font-size: 68px;
                line-height: 1;
                top: 50%;
                margin-top: -34px;
                position: absolute;
                width: 68px;
                height: 68px;
                color: #fff;
                transition: .3s;
                &.preview-arrows__left {
                    left: -75px;
                    &:hover {
                        left: -80px;
                    }
                }
                &.preview-arrows__right {
                    right: -75px;
                    &:hover {
                        right: -80px;
                    }
                }
                &:hover {
                    opacity: 0.7;
                }
            }
        }
        .product__item {
            .left-part {
                width: 370px;
            }
            .item__info {
                margin: 0 20px 0 25px;
                .item__product-options .prop {
                    max-width: 290px;
                }
                .item_lockout {
                    max-width: 290px;
                    margin: 0 0 20px 0;
                }
                .item__name {
                    max-width: 370px;
                }
            }
        }
    }
    &-alert {
        text-align: center;
        .alert-top {
            font-size: 24px;
            font-weight: bold;
            color: $second-color;
            margin: 10px 0 25px 0;
            &--blue {
                color: $primary-color;
            }
        }
    }
    &-order {
        .modal-dialog {
            width: 100%;
            max-width: 880px;
            margin: 10% auto;
            .modal-close {
                position: absolute;
                top: 0;
                right: 0;
                background: url(../images/bg_close.png) no-repeat 0 0;
                width: 109px;
                height: 32px;
                color: #fff;
                text-align: center;
                border: none;
                margin: 0;
                padding: 5px;
                font-size: 16px;
                &:hover {
                    color: $second-color;
                }
                &:focus {
                    outline: none;
                }
            }
            .order-header {
                text-align: center;
                font-weight: bold;
                color: $primary-color;
                text-decoration: underline;
                margin: 0 0 10px 0;
            }
            .order-table {
                table {
                    width: 100%;
                    thead {
                        tr {
                            th {
                                white-space: nowrap;
                                background: #f7f7f7;
                                color: $primary-color;
                                font-weight: bold;
                                padding: 6px 15px;
                                border: 1px solid #262626;
                                text-align: center;
                            }
                        }
                    }
                    tbody {
                        tr {
                            td {
                                padding: 6px 15px;
                                border: 1px solid #262626;
                                a {
                                    color: $text-color;
                                    &:hover {
                                        color: $primary-color;
                                        text-decoration: underline;
                                    }
                                }
                                &.td-name {
                                    padding: 15px;
                                    a {
                                        display: flex;
                                        max-width: 250px;
                                        align-items: center;
                                    }
                                    img {
                                        width: 50px;
                                        margin: 0 10px 0 0;
                                    }
                                    span {
                                        line-height: 1.2;
                                    }
                                }
                                &.td-acf {
                                    p {
                                        margin: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .order-bottom {
                padding: 40px 0 0;
                display: flex;
                justify-content: space-between;
                &__suma {
                    font-weight: bold;
                    text-align: right;
                    color: $primary-color;
                }
                .btn {
                    &:hover {
                        border-color: #222;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $tablet) {
    .modal {
        &-order {
            .modal-dialog {
                .modal-content {
                    padding: 30px 10px;
                }
                .order-header {
                    margin: 15px 0;
                }
                .order-table {
                    .td-acf {
                        display: none;
                    }
                    table {
                        thead {
                            tr {
                                th {
                                    padding: 6px 10px;
                                    font-size: 14px;
                                }
                            }
                        }
                        tbody {
                            tr {
                                td {
                                    padding: 6px 10px;
                                    font-size: 14px;
                                    &.td-name {
                                        padding: 10px;
                                        a {
                                            max-width: 100%;
                                        }
                                        img {
                                            width: 30px;
                                            margin: 0 5px 0 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .order-bottom {
                    padding: 40px 0 0;
                    &__suma {}
                    .btn {
                        margin: 0 0 15px 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $mobile) {
    body.modal-open,
    .modal-open .navbar-fixed-top,
    .modal-open .navbar-fixed-bottom {
        padding-right: 0;
    }
    .modal {
        &-dialog {
            max-width: 90% !important;
        }
        &-content {
            padding: 20px;
            .form-top {
                font-size: 22px;
                line-height: 29px;
            }
            .form-name {
                font-size: 18px;
                line-height: 24px;
            }
        }
        &#form_price {
            .form-type {
                padding: 0;
                margin: 0 0 40px 0;
                display: block;
                a.type-item {
                    height: auto;
                    margin: 0 10px 15px 10px;
                    padding: 10px;
                    &:hover {
                        transform: translateY(-3px);
                    }
                }
            }
            .form-horizontal {
                padding: 0 10px;
            }
        }
        &-order {
            .modal-dialog {
                .order-table {
                    table {
                        thead tr th {
                            font-size: 13px;
                        }
                        tbody tr td {
                            font-size: 13px;
                            &.td-name {
                                a {
                                    display: block;
                                    text-align: center;
                                    img {
                                        width: 80px;
                                        margin: 0 auto 10px auto;
                                    }
                                    span {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
                .order-bottom {
                    justify-content: center;
                    flex-wrap: wrap;
                    .btn {
                        margin: 0 10px 15px 10px;
                    }
                }
            }
        }
    }
}