.wrapper {
    display: flex;
    &__top {
        display: flex;
        .col-catalog {
            flex: 0 0 260px;
            margin: 0 20px 0 0;
        }
        .search {
            flex: 1 1 540px;
        }
    }
    &__body {
        display: flex;
        .area-main {
            flex: 1 1 720px;
        }
        .area-sidebar {
            flex: 0 0 260px;
            margin: 0 0 0 20px;
        }
    }
}

#content {
    order: 1;
    flex: 1 1 auto;
}

@media screen and (max-width: $mobile) {
    .wrapper {
        flex-wrap: wrap;
    }
    #content {
        flex: 1 1 100%;
    }
}

@media screen and (max-width: $small-mobile) {
    .wrapper {
        padding-top: 20px;
    }
}